
azvoicespeaker 
{
    position: absolute;
    bottom: 5px;
    right: 0px;
    opacity: 0.0;
    font-family: "material icons";
    font-size: 80px;
    color: #FAB002;
    text-shadow: 1px 1px 4px rgba( black, 0.25 );

    &.active
    {
        opacity: 1.0;
    }
}
