@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@attribute [StyleSheet]

@namespace Home

@inherits Panel

<root>
    <div class="left">
        <div class="header">
            <h2>Home</h2>
            <h4>By Carson Kompon</h4>
        </div>
        <div class="content">
            <h3>About</h3>
            <label>
                Home is a game heavily focused on social interaction that allows you to hang out with your friends, play games together, and decorate a home of your very own. Earn money by playing various minigames around the Plaza, participating in hourly activities that everyone can join in on, completing achievements, or gambling
            </label>
            <span style="height: 16px" />
            <h3>Community</h3>
            <label>
                Join our discord! <span class="discord">dsc.gg/sbox-home</span>
            </label>
        </div>
    </div>

    <div class="right">
        <h3>Credits</h3>
        <div class="content">
            Carson Kompon - Lead Developer
            <br />
            ItsRifter - Trivia Programming
            <br />
            Sugma Gaming - Clothing
            <br />
            NotGaylien - Furniture
            <br />
            G Kaf - Mapping
            <br style="height: 32px" />
            Special Thanks:
            <br />
            Xenthio
            <br />
            ChimonaHehe
            <br />
            Eridium
            <br />
            Ian (Gman)
            <br />
            RealBigBorris
        </div>
    </div>

</root>