EquipmentTab
{
    font-family: Poppins;
    flex-grow: 1;

    .left {
        width: 30%;
        overflow-y: scroll;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 4px;
            font-weight: 600;

            &.active {
                background-color: rgb(219, 219, 219);
            }       
        }
    }

    .content {
        background-color: rgb(206, 206, 206);
        flex-grow: 1;
        border-radius: 16px;
        margin: 16px;
    }

}