@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Home

@inherits Sandbox.UI.NavHostPanel

<root>
    <panel class="left">
            <a href="/">Pets</a>
    </panel>
    <div class="content navigator-canvas" slot="navigator-canvas"></div>
</root>

@code
{
    public EquipmentTab()
    {
        DefaultUrl = "/";
        
        AddDestination("/", typeof(EquipmentPetTab));
    }
    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        @* if(firstTime)
        {
            Navigator.Navigate("/");
        } *@
    }

    [GameEvent.Client.BuildInput]
    public void OnBuildInput()
    {
        if(Input.Pressed("score"))
        {
            AddClass("open");
        }
        else if(Input.Released("score"))
        {
            RemoveClass("open");
        }
    }

    void Close()
    {
        RemoveClass("open");
    }

    bool IsAdmin()
    {
        if(Game.LocalPawn is not HomePlayer player) return false;
        return player.HasModeratorPermissions();
    }
}