@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Home

@inherits Sandbox.UI.NavHostPanel

<root class="tab-menu">
    <panel class="navbar">
        <panel class="container">
            <a href="/">Players</a>
            <a href="/outfit">Outfit</a>
            <a href="/settings">Settings</a>
            <a href="/about">About</a>
        </panel>
    </panel>
    <div class="content navigator-canvas" slot="navigator-canvas"></div>
</root>

@code
{
    public TabMenu()
    {
        DefaultUrl = "/";
        
        AddDestination("/", typeof(PlayersTab));
        AddDestination("/outfit", typeof(OutfitTab));
        AddDestination("/settings", typeof(SettingsTab));
        AddDestination("/about", typeof(AboutTab));
    }
    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        @* if(firstTime)
        {
            Navigator.Navigate("/");
        } *@
    }

    [GameEvent.Client.BuildInput]
    public void OnBuildInput()
    {
        if(Input.Pressed("score"))
        {
            AddClass("open");
        }
        else if(Input.Released("score"))
        {
            RemoveClass("open");
        }
    }

    void Close()
    {
        RemoveClass("open");
    }
}