@using System;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Home

<root>
    <panel class="bottom-line" />
    <div class="avatar-container">
        <AvatarHud />
    </div>
    <panel class="canvas">
        <label class="money" text=@GetMoney() />
        <label class="location" text=@GetLocation() />
    </panel>

    <image class="roof" src="ui/GUI/ui_roof.png" />

</root>

@code
{
    public static HomeGUI Current;

    public AvatarHud AvatarHud;
    public Label MoneyLabel;
    public Label LocationLabel;

    public HomeGUI()
    {
        Current = this;
    }

    public string GetMoney()
    {
        if (HomePlayer.Local != null)
        {
            return $"${HomePlayer.Local.Money}";
        }
        return "$0";
    }

    public string GetLocation()
    {
        if (HomePlayer.Local != null)
        {
            return HomePlayer.Local.Location;
        }
        return "Main Plaza";
    }
}