@using System;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Home

<root>
    <panel class="bottom-line" />
    <div class="avatar-container">
        <AvatarHud />
    </div>
    <panel class="canvas">
        <label class="money" text=@GetMoney() />
        <label class="location" text=@GetLocation() />
    </panel>

    <image class="roof" src="ui/GUI/ui_roof.png" />

</root>

@code
{

    public AvatarHud AvatarHud;
    public Label MoneyLabel;
    public Label LocationLabel;

    string GetMoney()
    {
        if (Game.LocalPawn is HomePlayer player)
        {
            return $"${player.Money}";
        }
        return "$0";
    }

    string GetLocation()
    {
        if (Game.LocalPawn is HomePlayer player)
        {
            return player.Location;
        }
        return "Main Plaza";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GetMoney(), GetLocation());
    }
}