.nametag {
    font-family: Verdana;
    font-size: 48px;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 3px black;
    font-weight: 800;
    transition: opacity .15s ease-out;
    gap: 24px;
}