@using System;
@using Sandbox;
@using Sandbox.UI;
@using MediaHelpers;
@attribute [StyleSheet]

@namespace CarsonK

<root>
    @if(MediaEntity != null && (MediaEntity.CurrentlyPlaying != null || MediaEntity.Queue.Count > 0))
    {
        <div class="left">

            @if(MediaEntity.CurrentlyPlaying != null)
            {
                <div class="volume">
                    <i>volume_up</i>
                    <SliderControl min="0.0" max="1.0" step="0.01" default="0.5" Value:bind="@Volume" ></SliderControl>
                </div>
                <label class="header">Currently Playing:</label>
                <MediaBrowserEntry Video=@MediaEntity.CurrentlyPlaying />
                @if(MediaEntity.Video != null)
                {
                    <div class="controls">
                        <i class="play" onclick=@TogglePause >@GetPlayIcon()</i>
                        <SliderControl min="0.0" max="@MediaEntity.Video.Duration" step="0.01" Value:bind="@CurrentTime" ></SliderControl>
                    </div>
                }
            }

            @if(MediaEntity.Queue.Count > 0)
            {
                <label class="header">Current Queue:</label>
                <div class="queue">
                    @foreach(var media in MediaEntity.Queue)
                    {
                        <MediaBrowserEntry Video=@media />
                    }
                </div>
            }

        </div>
    }

    <div class="right">

        <div class="input">
            <TextEntry onsubmit=@CheckSite Value:bind=@MediaUrl Tooltip="Media URL" Placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></TextEntry>
            <button @ref="ButtonSubmit" class="btn" onclick=@PlayMedia >Submit</button>
        </div>

        <div class="websites">
            <div class="header">Supported Websites:</div>
            <div class="website" onclick=@OpenYoutube >Youtube</div>
            @* <div class="website" onclick=@OpenKick>Kick</div> *@
        </div>

        <div class="search">
            <WebPanel @ref="WebPanel"></WebPanel>
        </div>

    </div>

    <img src="/ui/ui_no.png" class="close" onclick=@Close />

</root>

@code
{
    public static MediaBrowser Current {get;set;}
    public Button ButtonSubmit {get; set;}
    public WebPanel WebPanel {get; set;}
    public string MediaUrl = "";
    private string PreviousUrl = "";
    public MediaPlayer MediaEntity {get;set;}
    public float Volume
    {
        get
        {
            if(MediaEntity == null) return 0.0f;
            return MediaEntity.Volume;
        }
        set
        {
            if(MediaEntity == null) return;
            MediaEntity.SetVolume(value);
        }
    }
    public float CurrentTime
    {
        get
        {
            if(MediaEntity == null) return 0.0f;
            if(MediaEntity.Video == null) return 0.0f;
            return MediaEntity.Video.PlaybackTime;
        }
        set
        {
            if(MediaEntity == null) return;
            MediaEntity.Seek(value);
        }
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (firstTime)
        {
            WebPanel.Surface.Url = "https://www.youtube.com";
            PreviousUrl = WebPanel.Surface.Url;
        }

        if(WebPanel.Surface.Url != PreviousUrl)
        {
            MediaUrl = WebPanel.Surface.Url;
            PreviousUrl = WebPanel.Surface.Url;
        }

        UpdateButton();
    }

    public override void Tick()
    {
        if(!MediaEntity.IsValid()) Close();
    }

    public void OpenYoutube()
    {
        MediaUrl = "https://www.youtube.com/";
        CheckSite();
    }

    public void OpenKick()
    {
        MediaUrl = "https://kick.com/";
        CheckSite();
    }

    public void PlayMedia()
    {
        if(!ButtonSubmit.HasClass("can-press")) return;
        MediaPlayer.QueueMedia(MediaEntity.NetworkIdent, MediaUrl);
        Close();
    }

    public void CheckSite()
    {
        if(!MediaUrl.StartsWith("https://") && !MediaUrl.StartsWith("http://")) MediaUrl = "https://" + MediaUrl;
        WebPanel.Surface.Url = MediaUrl;
        PreviousUrl = MediaUrl;
    }

    public bool IsButtonValid()
    {
        if(MediaUrl == null || MediaUrl == "") return false;
        if(MediaHelper.IsYoutubeUrl(MediaUrl)) return true;
        @* if(MediaHelper.IsKickUrl(MediaUrl)) return true; *@
        if(MediaUrl.EndsWith(".mp4")) return true;
        if(MediaUrl.EndsWith(".webm")) return true;
        return false;
    }

    public void UpdateButton()
    {
        ButtonSubmit.SetClass("can-press", IsButtonValid());   
    }
    

    [ClientRpc]
    public static void Open(int networkIdent)
    {
        if(Current == null)
        {
            Current = Game.RootPanel.AddChild<MediaBrowser>();
        }
        Current.MediaEntity = Entity.FindByIndex(networkIdent) as MediaPlayer;
        Current.AddClass("open");
        if(Current.WebPanel != null)
        {
            Current.WebPanel.Surface.Url = "https://www.youtube.com";
            Current.WebPanel.Surface.InBackgroundMode = false;
            Current.WebPanel.Style.Display = DisplayMode.Flex;
            Current.PreviousUrl = Current.WebPanel.Surface.Url;
        }
    }

    public void Close()
    {
        WebPanel.Style.Display = DisplayMode.None;
        WebPanel.Surface.InBackgroundMode = true;
        Delete(true);
        Current = null;
    }

    string GetPlayIcon()
    {
        if(MediaEntity == null) return "";
        if(MediaEntity.Video == null) return "";
        if(MediaEntity.Video.IsPaused) return "play_arrow";
        return "pause";
    }

    void TogglePause()
    {
        MediaPlayer.PauseVideo(MediaEntity.NetworkIdent);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(WebPanel?.Surface.Url, IsButtonValid());
    }
}