@using System;
@using Sandbox;
@using Sandbox.UI;
@using MediaHelpers;

@namespace CarsonK

<root class="media">
    @if(Video != null)
    {
        <div @ref="ThumbnailDiv" class="thumb">

        </div>
        <div class="names">
            <label class="title" text=@Video.Title Tooltip=@Video.Title />
            <label class="url" text=@Video.Url Tooltip=@Video.Url />
        </div>
        <div class="remove" onclick=@RemoveVideo >X</div>
    }
</root>

@code
{

    public Panel ThumbnailDiv { get; set; }
    public MediaVideo Video { get; set; }



    public string GetName()
    {
        return "Video Name";
    }

    public string GetLength()
    {
        return "0:00";
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        ThumbnailDiv.Style.BackgroundImage = Video.Thumbnail;
    }


    public void RemoveVideo()
    {
        if(MediaBrowser.Current == null) return;
        MediaPlayer mediaPlayer = MediaBrowser.Current.MediaEntity;
        MediaPlayer.RemoveMedia(mediaPlayer.NetworkIdent, Video.Url);
    }
}

