@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace Home

<root class="controls">
    <label>Controls:</label>
    <div class="control">
        <InputHint name="forward" />
        <div class="text">Rotate</div>
    </div>
    <div class="control">
        <InputHint name="Backward" />
        <div class="text">Fast Drop</div>
    </div>
    <div class="control">
        <InputHint name="Jump" />
        <div class="text">Hard Drop</div>
    </div>
    <div class="control">
        <InputHint name="Run" />
        <div class="text">Hold</div>
    </div>
</root>