@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace Home

<root class="controls">
    <label>Controls:</label>
    <div class="control">
        <InputHint name="TetrosRotateRight" />
        <div class="text">Rotate</div>
    </div>
    <div class="control">
        <InputHint name="TetrosSoftDrop" />
        <div class="text">Soft Drop</div>
    </div>
    <div class="control">
        <InputHint name="TetrosHardDrop" />
        <div class="text">Hard Drop</div>
    </div>
    <div class="control">
        <InputHint name="TetrosHold" />
        <div class="text">Hold</div>
    </div>
    <div class="control">
        <InputHint name="Crouch" />
        <div class="text">Quit</div>
    </div>
</root>