PlayerList {
    width: 100%;
    height: 100%;
    overflow: scroll;
    flex-direction: column;

    PlayerListEntry {
        background-color: rgba(grey, 0.5);
        width: 100%;
        height: 80px;
        margin-bottom: 8px;
        flex-direction: row;
        flex-shrink: 0;

        &.me { background-color: rgb(220, 236, 255); }
        &.friend { background-color: rgb(234, 255, 220); }
        &.moderator { background-color: rgb(255, 220, 255); }
        &.admin { background-color: rgb(255, 220, 220); }
        &.rainbow { 
            animation-name: rainbow-bg;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

        .player-container {
            width: 90%;
            height: 100%;
            flex-direction: row;
            align-items: center;
        }
        
        .avatar {
            margin: 8px;
            margin-right: 12px;
            width: 64px;
            height: 64px;
        }

        .name-container {
            height: 100%;
            flex-direction: column;
            font-family: Poppins;
            justify-content: center;

            .name {
                gap: 4px;
                font-size: 24px;
                font-weight: bolder;
                color: black;

                .badges {
                    gap: 2px;

                    .badge {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            .location {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .buttons {
            height: 100%;
            align-items: center;
        }

        .ping-container {
            width: 10%;
            height: 100%;
            padding-right: 16px;
            font-family: Poppins;
            justify-content: flex-end;
            align-items: center;
            font-weight: bolder;
            font-size: 16px;

            .ping {
                font-size: 20px;
                margin-right: 1px;
                color: black;
            }
        }
    }
}

@keyframes rainbow-bg {
    0% { background-color: rgb(255, 220, 220); }
    20% { background-color: rgb(255, 255, 220); }
    40% { background-color: rgb(220, 255, 220); }
    60% { background-color: rgb(220, 255, 255); }
    80% { background-color: rgb(220, 220, 255); }
    100% { background-color: rgb(255, 220, 255); }
}