AttractMenuPage
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 82px;
    //background-color: #91461b;
    background: radial-gradient(#91461b, #000000);
    color: white;

    .logo
    {
        width: 65%;
        height: 30%;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
        text-align: center;
        font-family: Roboto;
        font-weight: 800;
    }

    .start-text
    {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 800;

        inputhint
        {
            transform: scale(1);
            margin: 0px 10px;
            justify-content: center;
            align-items: center;
        }
    }
}