@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]
@using Tetros;

@namespace CarsonsWebArcade

<root>
    <div class="logo">Carson's Web Arcade</div>

    <div class="start-text">
        Press <InputHint name="Use" /> to play
    </div>
</root>