@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox;
@using Sandbox.Services;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Home

<root style="flex-direction: column;">

    <div class="game-title">
        <img class="roof" src="/ui/ui_roof.png" />
        <div class="title-text">@Game.Menu.Package.Title</div>
        <div class="title-subtext">By Carson Kompon</div>
    </div>

    <div class="controls">

        <a class="btn" onclick=@PlayGame>
            <div class="title">Play Game</div>
            <div class="desc">Automatically connect to the server with the most players.</div>
        </a>

        <a class="btn" href="/servers">
            <div class="title">Server List</div>
            <div class="desc">See a full list of all Home servers.</div>
        </a>

        <a class="btn" href="/settings">
            <div class="title">Settings</div>
            <div class="desc">Change your controls/keybinds.</div>
        </a>

        <a class="btn" onclick=@Game.Menu.Close>
            <div class="title">Quit</div>
            <div class="desc">Return to the S&box Main Menu.</div>
        </a>

    </div>

    <div class="news">
        <h1>JUNE 2023 ROUNDUP</h1>
    
        <WebPanel @ref="WebPanel" />

        <div class="content">
            Here's what was added in the month of June:
        </div>

        <div class="content bullets">
            - Added the Construction Yard shop to the test map
            <span />
            - Added tons of new Furniture items from NotGaylien and other creators
            <span />
            - Added MediaPlayers (Youtube functionality is still awaiting a fix from facepunch)
            <span />
            - Added an Avatar Editor to the TAB menu featuring clothing from Sugma Gaming and ShadowBrain
            <span />
            - Added the Tetros Arcade Game. 
            <span />
            - Added the Rhythm4K Arcade Game. Thanks ShadowBrain for making the custom cabinet model!
            <span />
            - Added VR support! You can walk and flail your arms around, but cannot interact with anything just yet.
        </div>
    </div>

    <div class="gh-issues">
        Join the discord at dsc.gg/sbox-home
    </div>

</root>

@code
{
    public WebPanel WebPanel { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);
        
        if(firstTime)
        {
            WebPanel.Surface.Url = "https://www.youtube.com/embed/tgoyb3oR9mU";
        }
    }

    public async void PlayGame()
    {
        var list = new ServerList();
        list.AddFilter("gametagsand", $"game:{Game.Menu.Package.FullIdent.Split('#')[0]}");
        list.Query();
        while(list.IsQuerying)
        {
            await Task.Delay(100);
        }
        if(list.Count == 0)
        {
            // Create a lobby instead
            await Game.Menu.CreateLobbyAsync();
            return;
        }
        // Get the server with the most players
        list.Sort((a, b) => b.Players - a.Players);
        Game.Menu.ConnectToServer(list[0].SteamId);
    }

    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }
}
