
.gamemainmenu homefrontpage
{
	gap: 32px;

	.game-title
	{
		font-family: Poppins;
		font-weight: 700;
		font-size: 100px;
        width: 500px;
        flex-direction: column;
        text-shadow: 2px 2px 12px black;

        .roof
        {
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            left: -32px;
            margin-bottom: -16px;
        }
	
        .title-subtext
        {
            font-size: 32px;
            font-weight: 200;
            font-style: italic;
            margin-top: -16px;
        }
    }

	.controls
	{
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;

        .btn
        {
            flex-direction: column;
            background-color: rgba(white, 0);
            color: white;
            text-shadow: 2px 2px 12px black;
            transition: all 0.15s ease-in-out;
            height: auto;
            padding: 0px;

            .title
            {
                font-size: 32px;
            }

            .desc
            {
                font-size: 20px;
                font-weight: 200;
                font-style: italic;
                opacity: 0;
                transition: all 0.15s ease-in-out;
            }

            &:hover
            {
                text-shadow: 2px 2px 5px black;
                left: 10px;
                .desc
                {
                    opacity: 1;
                }
            }
        }
	}

    .news
    {
        position: absolute;
        width: 500px;
        height: 70%;
        top: 15%;
        right: 0px;
        background-color: rgba(white, 0.2);
        flex-direction: column;
        padding: 24px;
        color: black;

        font-family: Poppins;

        h1 {
            width: 100%;
            justify-content: center;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 4px;

            animation-name: pulsinggreen;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }

        WebPanel {
            aspect-ratio: 1.77777777778;
            width: 100%;
        }

        .subheader {
            width: 100%;
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            margin: 4px;

            animation-name: pulsingyellow;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }

        .content {
            font-size: 19px;
            flex-direction: column;
        }

        .bullets {
            font-size: 14px;
        }
    }

    .gh-issues {
        position: absolute;
        width: 100%;
        bottom: 8px;
        justify-content: center;
        font-family: Verdana;
        font-size: 16px;
        font-weight: 700;
        opacity: 0.4;
    }
}

@keyframes pulsingred {
    0% {
        color: black;
    }
    100% {
        color: rgb(146, 0, 0);
    }
}

@keyframes pulsinggreen {
    0% {
        color: rgb(49, 114, 23);
    }
    100% {
        color: black;
    }
}