@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox;
@using Sandbox.Services;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Home

<root style="flex-direction: column;">

    <div class="game-title">
        <img class="roof" src="/ui/ui_roof.png" />
        <div class="title-text">@Game.Menu.Package.Title</div>
        <div class="title-subtext">By Carson Kompon</div>
    </div>

    <div class="controls">

        <a class="btn" onclick=@PlayGame>
            <div class="title">Play Game</div>
            <div class="desc">Automatically connect to the server with the most players.</div>
        </a>

        <a class="btn" href="/servers">
            <div class="title">Server List</div>
            <div class="desc">See a full list of all Home servers.</div>
        </a>

        <a class="btn" href="/settings">
            <div class="title">Settings</div>
            <div class="desc">Change your controls/keybinds.</div>
        </a>

        <a class="btn" onclick=@Game.Menu.Close>
            <div class="title">Quit</div>
            <div class="desc">Return to the S&box Main Menu.</div>
        </a>

    </div>

    <div class="news">
        <div class="header">WORK IN PROGRESS</div>
    
        <div class="content">
            Please note that this game is a heavy work in progress and is currently only being made by one person (myself) in my spare time.
            <span style="height: 8px;" />
            The goal for Home is that anyone will be able to create their own sub-communities with servers that host different maps/content via addons. If you wish to create your own content, please reach out. 
            <span style="height: 8px;" />
            My main project at the moment is my full-time job working on Turnip Boy Robs a Bank. Please consider checking it out!
        </div>

        <div class="subheader">NEW 6/18/2023</div>

        <div class="content">
            - Added "TETROS" arcade machines! Play in the plaza or get your own at the Electronics Shop!
            <span />
            - Added "Outfit" tab in the Tab Menu. Allows you to change your outfit/playermodel on the fly!
            <span />
            - A few more furniture items (Suggest more on the github issues page)
        </div>
    </div>

    <div class="gh-issues">
        Please submit any bugs feature requests to https://github.com/CarsonKompon/home-issues/issues
    </div>

</root>

@code
{

    public async void PlayGame()
    {
        var list = new ServerList();
        list.AddFilter("gametagsand", $"game:{Game.Menu.Package.FullIdent.Split('#')[0]}");
        list.Query();
        while(list.IsQuerying)
        {
            await Task.Delay(100);
        }
        if(list.Count == 0)
        {
            // Create a lobby instead
            await Game.Menu.CreateLobbyAsync();
            return;
        }
        // Get the server with the most players
        list.Sort((a, b) => b.Players - a.Players);
        Game.Menu.ConnectToServer(list[0].SteamId);
    }

    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }
}
