@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox;
@using Sandbox.Services;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Home

<root style="flex-direction: column;">

    <div class="game-title">
        <img class="roof" src="/ui/ui_roof.png" />
        <div class="title-text">@Game.Menu.Package.Title</div>
        <div class="title-subtext">By Carson Kompon</div>
    </div>

    <div class="controls">

        <a class="btn" onclick=@PlayGame>
            <div class="title">Play Game</div>
            <div class="desc">Automatically connect to the server with the most players.</div>
        </a>

        <a class="btn" href="/servers">
            <div class="title">Server List</div>
            <div class="desc">See a full list of all Home servers.</div>
        </a>

        <a class="btn" href="/settings">
            <div class="title">Settings</div>
            <div class="desc">Change your controls/keybinds.</div>
        </a>

        <a class="btn" onclick=@Game.Menu.Close>
            <div class="title">Quit</div>
            <div class="desc">Return to the S&box Main Menu.</div>
        </a>

    </div>

    <div class="news">
        <h1>JULY 2023 ROUNDUP</h1>
    
        <WebPanel @ref="WebPanel" />

        <div class="content">
            Here's what was added in the month of July:
        </div>

        <div class="content bullets">
            - You can now search by name and category in the Shops
            <span />
            - Added a Clothing Shop, along with new Clothing Items
            <span />
            - Added a Pets Shop, along with 4 Pets
            <span />
            - Reworked the Tetros Arcade Machine and released Tetros as a standalone game on asset.party!
            <span />
            - Added OsuMania chart browsing and downloading to Rhythm4K (And it now pays out money!)
            <span />
            - Added Carson's Web Arcade, featuring my upcoming Steam release "Half Hour Hexagon"
            <span />
            - Added new Furniture items, fixed MediaPlayers, added Radios!
            <span />
            - Added badges to the player list, as well as muting players
            <span />
            - Added a smaller icon view and height slider to the Outfit tab
            <span />
            - Content is now loaded at runtime, so you no longer have to download the stuff you don't need
            <span />
            - You physically move the joystick on the Arcade Machines
            <span />
            - Fixed model bound detection (fixed items such as the Speakers and Washing Machine)
        </div>
    </div>

    <div class="gh-issues">
        Join the discord at dsc.gg/sbox-home
    </div>

</root>

@code
{
    public WebPanel WebPanel { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);
        
        if(firstTime)
        {
            WebPanel.Surface.Url = "https://www.youtube.com/embed/A8fwm2bHRPs";
        }
    }

    public async void PlayGame()
    {
        var list = new ServerList();
        list.AddFilter("gametagsand", $"game:{Game.Menu.Package.FullIdent.Split('#')[0]}");
        list.AddFilter("notfull", "1");
        list.Query();
        while(list.IsQuerying)
        {
            await Task.Delay(100);
        }
        if(list.Count == 0)
        {
            // Create a lobby instead
            this.Navigate("/lobby");
            return;
        }
        // Get the server with the most players
        list.Sort((a, b) => b.Players - a.Players);
        var serverid = list[0].SteamId;
        list.Dispose();
        Game.Menu.ConnectToServer(serverid);
    }

    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }
}
