@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace Home

<root style="flex-direction: column;">

    <div class="navbar">
        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">Server List</span>
        </div>
        <div class="right">
            <div class="button" onclick=@CreateNewLobby> Create Server </div>
        </div>
    </div>

    <section class="inset" style="flex-direction: column; flex-grow: 1; flex-shrink: 1;">
        <HomeServerListPanel @ref="ServerList" ShowGame=@false FilterByGame=@Game.Menu.Package.FullIdent></HomeServerListPanel>
    </section>

    <div class="navbar">
        <div class="left">
        </div>
        <div class="right">
            <div class="button" onclick="@(() => ServerList.Refresh())"> Refresh </div>
        </div>
    </div>

</root>


@code
{
    HomeServerListPanel ServerList;

    async Task CreateNewLobby()
    {
        await Game.Menu.CreateLobbyAsync();
        // we will navigate to lobby when it's ready
    }
}
