@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using System;
@using System.Collections.Generic;

@namespace Home

<root>
    <div class="icon" @ref="Background"></div>
</root>

@code
{
    public Panel Background {get; set;}
    public HomePlaceable Placeable { get; set; }
    public Vector2 DragOffset { get; set; } = new Vector2(25, 25);
    public Vector2 StartingPosition { get; set; }

    public HomeInventoryDragging()
    {
        StartingPosition = Mouse.Position;
    }

    public override void OnMouseWheel( float value )
    {
        base.OnMouseWheel( value );
        if(Game.LocalPawn is HomePlayer player)
        {
            player.PlacingAngle += value * 15f;
			player.PlacingAngle = MathF.Round(player.PlacingAngle / 15f) * 15f;
        }
    }

    protected override void OnMouseUp( MousePanelEvent e )
    {
        base.OnMouseUp( e );

        if(Game.LocalPawn is HomePlayer player)
        {
            player.TryPlace();
        }
    }		

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        Background.Style.BackgroundImage = Placeable.Texture;
    }

    public override void Tick()
    {
        base.Tick();

        Vector2 mousePosition = Mouse.Position;
        Style.Left = (mousePosition.x - DragOffset.x) * ScaleFromScreen;
        Style.Top = (mousePosition.y - DragOffset.y) * ScaleFromScreen;

        if(Game.LocalPawn is HomePlayer player)
        {
            SetClass("placing", player.CanPlace);
            
            if(player.PlacingModel == "") Delete();
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Placeable);
    }
}