@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using System;
@using System.Collections.Generic;

@namespace Home

<root>
    <div class="icon" style="background-image: url( @GetTexture() ); )"></div>
</root>

@code
{
    public HomePlaceable Placeable { get; set; }
    public Vector2 DragOffset { get; set; } = new Vector2(25, 25);

    private string GetTexture()
    {
        return Placeable.GetThumbnail();
    }

    public override void OnMouseWheel( float value )
    {
        base.OnMouseWheel( value );
        if(Game.LocalPawn is HomePlayer player)
        {
            player.PlacingAngle += value * 15f;
			player.PlacingAngle = MathF.Round(player.PlacingAngle / 15f) * 15f;
        }
    }
		

    public override void Tick()
    {
        base.Tick();

        Vector2 mousePosition = Mouse.Position;
        Style.Left = (mousePosition.x - DragOffset.x) * ScaleFromScreen;
        Style.Top = (mousePosition.y - DragOffset.y) * ScaleFromScreen;

        if(Game.LocalPawn is HomePlayer player)
        {
            SetClass("placing", player.CanPlace);
            
            if(player.PlacingModel == "") Delete();
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GetTexture());
    }
}