@using System;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Home

<root>
    <div class="inventory-container">
        @foreach (StashEntry item in GetInventory())
        {
            @if(item.Amount == 0) continue;
            <HomeInventoryEntry Entry="@item" />
        }
    </div>
</root>

@code
{

    IList<StashEntry> GetInventory()
    {
        if(Game.LocalPawn is HomePlayer player) return player.Stash;
        return new List<StashEntry>();
    }

    string GetName(StashEntry item)
    {
        HomePlaceable placeable = HomePlaceable.Find(item.Id);
        if(placeable == null) return "N/A";
        return placeable.Name;
    }

    int GetAmount(StashEntry item)
    {
        return item.Amount;
    }

    [GameEvent.Client.BuildInput]
    public void OnBuildInput()
    {
        if(Input.Pressed("menu"))
        {
            AddClass("open");
        }
        else if(Input.Released("menu"))
        {
            RemoveClass("open");
        }
    }

		

    protected override int BuildHash()
    {
        return HashCode.Combine(GetInventory().Count);
    }
}