
.splitcontainer
{
	flex-grow: 1;

	> .split-left, > .split-right
	{
		flex-grow: 1;
	}

	> .split-left
	{
		height: 100%;
	}

	> .splitter
	{
		flex-grow: 1;
		width: 8px;
		cursor: ew-resize;

		&:hover
		{
		}
	}

	&.dragging > .splitter
	{
	}

	&.vertical
	{
		flex-direction: column;

		> .splitter
		{
			height: 8px;
			width: 100%;
			cursor: ns-resize;
		}
	}
}