// @import "/UI/Styles/_button.scss";
@import "/UI/Styles/_checkbox.scss";
@import "/UI/Styles/_coloreditor.scss";
@import "/UI/Styles/_dropdown.scss";
@import "/UI/Styles/_popup.scss";
@import "/UI/Styles/_slider.scss";
@import "/UI/Styles/_splitcontainer.scss";
@import "/UI/Styles/_switch.scss";
@import "/UI/Styles/_tabcontainer.scss";

@import "/UI/Styles/_rainbow.scss";

@import "/UI/Styles/_chat.scss";
@import "/UI/Styles/_voicelist.scss";

.hidden {
    display: none;
}

homehud {

    &.devcamera
    {
        display: none;
    }
}


.tab-menu {
    position: absolute;
    background-color: white;
    box-shadow: 4px 4px 24px rgba(black, 0.5);
    width: 50%;
    height: 60%;
    left: 25%;
    top: 20%;
    border-radius: 24px;

    opacity: 0;

    flex-direction: column;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .navbar {
        width: 100%;
        height: 48px;
        padding-top: 12px;

        .container {
            font-size: 22px;
            font-weight: bolder;
            width: 100%;
            height: 100%;
            justify-content: space-evenly;
            align-items: center;
        }

        a {

            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &.active {
                color: black;
                border-bottom: 2px solid black;
            }

            &.disabled {
                opacity: 0.5;
                cursor: default;
            }
        }

    }

    .content {
        width: 100%;
        height: 100%;
        padding: 8px;
    }
}

RoomPanel {
    width: 15%;
    height: 40%;
    position: absolute;
    left: 100%;
    top: 20%;
    background-color: lightgray;
    border-radius: 32px 0px 0px 32px;
    padding: 8px;

    flex-direction: column;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: all 0.2s ease-in-out;

    .layout-header {
        width: 100%;
        height: 10%;
        justify-content: center;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;

        .spacer {
            width: 33px;
            height: 33px;
        }

        label {
            padding-left: 8px;
            padding-right: 8px;
        }

        TextEntry {
            cursor: text;
            background-color: white;
            margin-bottom: 3px;
            margin-left: 3px;
            margin-right: 3px;
            white-space: nowrap;
            overflow: hidden;
            flex-direction: row;
            justify-content: center;
            min-width: 100px;
        }

        img {
            width: 32px;
            height: 32px;
            background-image-tint: rgb(88, 88, 88);
            pointer-events: auto;
            transition: all 0.05s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .layout-list {
        height: 80%;
        width: 86%;
        overflow-y: scroll;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;
        padding: 8px;

        RoomLayoutButton {
            font-family: Verdana;
            font-size: 18px;
            flex-shrink: 0;

            //background-color: #eee;
            border-radius: 4px;
            padding: 4px;
            margin-bottom: 4px;

            .layout-extras {
                position: absolute;
                right: 4px;
                top: 2px;
            }

            .layout-delete {
                margin-left: 4px;
                background-image-tint: grey;
                opacity: 0;
                transform: scale(0);
                transition: all 0.2s ease-in-out;
            
                // if it has delete-yes or delete-no then make font arial
                // and make it a button
                &.delete-yes, &.delete-no {
                    transform: scale(1);
                    &:intro, &:outro {
                        transform: scale(0);
                    }
                }

                &.delete-yes:hover {
                    background-image-tint: lime;
                }

                &.delete-no:hover {
                    background-image-tint: red;
                }
            }

            &:hover {
                
                .layout-delete {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &:nth-child(odd) {
                background-color: #fafafa;
            }

            &.selected {
                background-color: lightblue;
            }
        }
    }

    .layout-buttons {
        width: 100%;
        height: 20%;
        justify-content: space-evenly;
        align-items: center;

        button {
            width: 40%;
            height: 48px;
            border-radius: 8px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            background-color: white;
            transition: all 0.1s ease-in-out;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: lightgoldenrodyellow;
                //color: white;
            }
        }
    }

    // If the room panel has the "open" and "can-show" classes
    &.open.can-show {
        opacity: 1;
        left: 85%;
        pointer-events: all;
    }

}

HomeInventoryDragging {
    position: absolute;
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    pointer-events: none;
    opacity: 0.5;
    z-index: 10;
    overflow: hidden;

    .icon {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .inventory-count {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: bolder;
        color: white;
        margin-right: 4px;
    }

    &.placing {
        background-color: rgba(white, 0);
        pointer-events: all;

        .icon {
            display: none;
        }
    }
}

.nametag {
    font-family: Ubuntu;
    font-size: 48px;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 3px black;
    font-weight: 800;
    transition: opacity .15s ease-out;
    gap: 24px;

    .avatar {
        border-radius: 100%;
        box-shadow: 3px 3px 10px rgba(black, 0.6);
    }

    &.local {
        display: none;
    }
}

.tooltip
{
    font-family: Roboto;
    background-color: rgba( #fea, 0.95 );
    border: 1px solid rgba( #555, 0.1 );
    padding: 2px 5px;
    border-radius: 3px;
    color: #222;
    transition: all 0s ease-in-out;

    &:intro {
        opacity: 0;
        transform: translate( 0%, 50% ) scale( 1.1 );
    }

    &:outro {
        opacity: 0;
        transform: translate( 0%, -50% ) scale( 0.9 );
    }
}