// @import "/UI/Styles/_button.scss";
@import "/UI/Styles/_checkbox.scss";
@import "/UI/Styles/_coloreditor.scss";
@import "/UI/Styles/_dropdown.scss";
@import "/UI/Styles/_popup.scss";
@import "/UI/Styles/_slider.scss";
@import "/UI/Styles/_splitcontainer.scss";
@import "/UI/Styles/_switch.scss";
@import "/UI/Styles/_tabcontainer.scss";

@import "/UI/Styles/_rainbow.scss";

.hidden {
    display: none;
}

rootpanel {
    width: 100%;
    height: 100%;
}

homegui {
    position: absolute;
    aspect-ratio: 2;
    height: 20%;
    left: 48px;
    bottom: 48px;

    .bottom-line {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 8px;
        bottom: 0px;
        box-shadow: 3px 3px 10px rgba(black, 0.2);
    }

    .avatar-container {
        position: absolute;
        aspect-ratio: 1;
        width: 40%;
        bottom: 0px;
        left: 4%;
        z-index: -10;

        avatarhud {
            width: 100%;
            height: 100%;
        }
    }

    .canvas {
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 60%;
        left: 45%;
        bottom: 0%;
        text-shadow: 4px 4px 4px rgba(black, 0.5);
    }

    .money {
        font-family: Poppins;
        font-size: 64px;
        font-weight: bolder;
        color: white;
        margin-top: 1%;
    }

    .location {
        font-family: Poppins;
        font-size: 24px;
        font-weight: bolder;
        color: white;
        margin-bottom: 5%;
    }

    .roof {
        position: absolute;
        width: 60%;
        height: 50%;
        bottom: 50%;
    }

}


HomeInventory {
    position: absolute;
    left: 10%;
    bottom: -100%;
    width: 80%;
    height: 30%;
    background-color: white;
    border-radius: 32px 32px 0px 0px;

    opacity: 0;
    pointer-events: none;

    transition: all 0.2s ease-in-out;

    .inventory-container {
        width: 100%;
        height: 100%;
        margin: 8px;
    }

    &.open {
        opacity: 1;
        bottom: 0%;
        pointer-events: all;
    }
}

HomeInventoryEntry {
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin: 4px;

    RotatingModelScenePanel {
        width: 100%;
        height: 100%;
    }

    .inventory-count {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: bolder;
        color: white;
        margin-right: 4px;
    }

    &.dragging {
        pointer-events: none;
        background-color: white;

        RotatingModelScenePanel {
            display: none;
        }

        .inventory-count {
            display: none;
        }
    }
}

HomeInventoryDragging {
    position: absolute;
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    pointer-events: all;
    opacity: 0.5;
    z-index: 100;

    RotatingModelScenePanel {
        width: 100%;
        height: 100%;
    }

    .inventory-count {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: bolder;
        color: white;
        margin-right: 4px;
    }

    &.placing {
        background-color: rgba(white, 0);
        pointer-events: all;
    }
}


.tab-menu {
    position: absolute;
    background-color: white;
    box-shadow: 4px 4px 24px rgba(black, 0.5);
    width: 50%;
    height: 60%;
    left: 25%;
    top: 20%;
    border-radius: 24px;

    opacity: 0;

    flex-direction: column;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .navbar {
        width: 100%;
        height: 48px;
        padding-top: 12px;

        .container {
            font-size: 22px;
            font-weight: bolder;
            width: 100%;
            height: 100%;
            justify-content: space-evenly;
            align-items: center;
        }

        navlink {

            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &.active {
                color: black;
                border-bottom: 2px solid black;
            }

            &.disabled {
                opacity: 0.5;
                cursor: default;
            }
        }

    }

    .content {
        width: 100%;
        height: 100%;
        padding: 8px;

        PlayerList {
            width: 100%;
            height: 100%;
            overflow: scroll;
            flex-direction: column;

            PlayerListEntry {
                background-color: rgba(grey, 0.5);
                width: 100%;
                height: 80px;
                margin-bottom: 8px;
                flex-direction: row;

                .player-container {
                    width: 90%;
                    height: 100%;
                    flex-direction: row;
                    align-items: center;
                }
                
                .avatar {
                    margin: 8px;
                    margin-right: 12px;
                    width: 64px;
                    height: 64px;
                }

                .name-container {
                    height: 100%;
                    flex-direction: column;
                    font-family: Poppins;
                    justify-content: center;

                    .name {
                        font-size: 24px;
                        font-weight: bolder;
                        color: black;
                    }

                    .location {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .ping-container {
                    width: 10%;
                    height: 100%;
                    padding-right: 16px;
                    font-family: Poppins;
                    justify-content: flex-end;
                    align-items: center;
                    font-weight: bolder;
                    font-size: 16px;

                    .ping {
                        font-size: 20px;
                        margin-right: 1px;
                        color: black;
                    }
                }
            }

        }
    }
}