$bg: #404040;
$lightbg: #454545;
$darkbg: #282828;
$orange: #e9b437;
$green: #37e956; 
$red: #e93737; 
$lightaccent: #6ad8eb;
$darkaccent: #37cee9;
$purple: #c741cc;
$foreground: #e1e1e1;
$foreground-faded: #808080;

$largeradius: 5px;
$smallradius: 1px;
$radius: 2px;
$paddingsmall: 8px;
$paddingmedium: 15px;

$z-chat: 4;
$z-menu: 5;