

homevoicespeaker 
{
    position: absolute;
    bottom: 10px;
    right: 5px;
    opacity: 0.0;
    font-family: "material icons";
    font-size: 80px;
    color: #FAB002;
    text-shadow: 1px 1px 4px rgba( black, 0.25 );

    &.active
    {
        opacity: 1.0;
    }
}


homevoicelist
{
	position: absolute;
	bottom: 200px;
	right: 20px;
	flex-direction: column;
	width: 300px;
	padding: 5px;
	padding-bottom: 0px;
	font-family: Poppins;

	homevoiceentry
	{
		background-color: rgba( black, 0.8 );
		flex-direction: row;
		padding: 6px;
		margin-bottom: 5px;
		align-items: center;
		align-content: center;
		border-radius: 4px;
		overflow: hidden;
		transition: all 0.1s ease-out;
		left: 0px;

		&:intro
		{
			opacity: 0;
			margin-left: 20px;
		}

		&:outro
		{
			opacity: 0;
			margin-left: 20px;
			transition: all 0.1s ease-out;
		}

		.avatar
		{
			min-width: 50px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.name
		{
			font-size: 16px;
			font-weight: 500;
			margin-left: 10px;
			flex-grow: 1;
			color: white;
		}
	}
}
