roomfrontdoornumber {
    justify-content: center;
    align-items: center;
}

label {
    font-family: Poppins;
    font-size: 420px;
    font-weight: bolder;
    color: rgba(white, 0.5);

    .vacant {
        color: rgba(white, 0.5);
    }

    .open {
        color: rgba(lime, 0.5);
    }

    .locked {
        color: rgba(red, 0.5);
    }

    .friends-only {
        color: rgba(blue, 0.5);
    }
}