@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Sandbox.UI.GameMenu;

@attribute [StyleSheet]
@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel

@namespace Home

<root class="gamemainmenu">
    @if(!Game.InGame)
    {
        <HomeMainMenuBackground class="background" />
        <div class="navigator-canvas" slot="navigator-canvas"></div>
    }
    else
    {
        <HomePauseMenu class="pausemenu" />
    }
</root>

@code
{

    public HomeMainMenu()
    {
        DefaultUrl = "/";

        AddDestination("/", typeof(HomeFrontPage));
        AddDestination("/servers", typeof(HomeServerList));
        AddDestination("/lobby", typeof(HomeLobbyPage));
        AddDestination("/lobby/addons", typeof(HomeLobbyAddonPage));
        AddDestination("/lobby/map", typeof(HomeLobbyMapPage));
        AddDestination("/settings", typeof(HomeSettingsPage));
        AddDestination("/ingame", typeof(HomeSettingsPage));

        BindClass( "ingame", () => Game.InGame );
        BindClass( "inlobby", () => Game.Menu.Lobby != null );
    }

    [GameEvent.Menu.ServerJoined]
    public void OnServerJoined()
    {
        AddDestination("/", typeof(HomeSettingsPage));
        Navigate("/");
    }

    [GameEvent.Menu.ServerLeave]
    public void OnServerLeave()
    {
        Navigate("/");
        AddDestination("/", typeof(HomeFrontPage));
    }

    [GameEvent.Menu.LobbyJoined]
    public void OnLobbyJoined() => Navigate("/lobby");

    [GameEvent.Menu.LobbyLeave]
    public void OnLobbyLeave() => Navigate("/");
	
    protected override int BuildHash()
    {
        return HashCode.Combine(Game.InGame);
    }

}
