@using System;
@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]

@namespace CarsonsWebArcade

<root>
    <span class="cover" />
    <div class="info">
        <h3>@Name</h3>
        <p>@Description</p>
    </div>
</root>

@code
{
    public string Name { get; set; }
    public string Description { get; set; }
}